.backgr-col{  /*Черная подкладка с центрированием */
    padding: -1px; /* Поля вокруг текста */
    background: #000; /* Цвет фона */
    margin: 0 auto; /* Выравниваем слой по центру */
    width: 100%; /* Ширина слоя */
    opacity: 0.6; /* Значение прозрачности */
    filter: alpha(Opacity=60);
}


.hand_cursor{  /*изменения курсора при фокусе на руку*/
    cursor: pointer;
}

/* label color */






[type="checkbox"]:checked+label:before{

    border-right: 2px solid #ff9800;
    border-bottom: 2px solid #ff9800;
}

.collection .collection-item.active {
    background-color:#ff9800;
    color: white;
}
.collection a.collection-item{
    color:#ff9800 ;
}


    /* helpers */

.t {
    display: table;
    width: 100%;
    height: 100%;
}

.tc {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.rel {
    position: relative;
}

/* general_container */

.general_container {
    margin: 0 auto;
    width: 90%;
    height: 90%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.general_container .page {
    height: 100%;
}

.general_container .page .canvas {
    max-width: 100%;
    height: 100%;
}


/* label focus color */
.input-field input[type=text]:focus + label {
    color: #ff9800;
}

.input-field input[type=email]:focus + label {
    color: #ff9800;
}


.input-field input[type=tel]:focus + label {
    color: #ff9800;
}


.input-field input[type=password]:focus + label {
    color: #ff9800;
}
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #ff9800;
    box-shadow: 0 1px 0 0 #ff9800;
}
.input-field input[type=tel]:focus {
    border-bottom: 1px solid #ff9800;
    box-shadow: 0 1px 0 0 #ff9800;
}

.input-field input[type=password]:focus {
    border-bottom: 1px solid #ff9800;
    box-shadow: 0 1px 0 0 #ff9800;
}

.input-field input[type=email]:focus {
    border-bottom: 1px solid #ff9800;
    box-shadow: 0 1px 0 0 #ff9800;
}
/* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid #4caf50;
    box-shadow: 0 1px 0 0 #4caf50;
}
/* invalid color */
.input-field input[type=tel].invalid {
    border-bottom: 1px solid #f44336;
    box-shadow: 0 1px 0 0 #f44336;
}

.input-field input[type=tel]:focus {
    border-bottom: 1px solid #ff9800;
    box-shadow: 0 1px 0 0 #ff9800;
}
/* valid color */
.input-field input[type=tel].valid {
    border-bottom: 1px solid #4caf50;
    box-shadow: 0 1px 0 0 #4caf50;
}
/* invalid color */
.input-field input[type=tel].invalid {
    border-bottom: 1px solid #f44336;
    box-shadow: 0 1px 0 0 #f44336;
}


/* invalid color */
.input-field input[type=email].invalid {
    border-bottom: 1px solid #f44336;
    box-shadow: 0 1px 0 0 #f44336;
}

.input-field input[type=email]:focus {
    border-bottom: 1px solid #ff9800;
    box-shadow: 0 1px 0 0 #ff9800;
}
/* valid color */
.input-field input[type=email].valid {
    border-bottom: 1px solid #4caf50;
    box-shadow: 0 1px 0 0 #4caf50;
}
/* invalid color */
.input-field input[type=email].invalid {
    border-bottom: 1px solid #f44336;
    box-shadow: 0 1px 0 0 #f44336;
}

.input-field input[type=email]:focus {
    border-bottom: 1px solid #ff9800;
    box-shadow: 0 1px 0 0 #ff9800;
}
/* valid color */
.input-field input[type=email].valid {
    border-bottom: 1px solid #4caf50;
    box-shadow: 0 1px 0 0 #4caf50;
}
/* invalid color */
.input-field input[type=email].invalid {
    border-bottom: 1px solid #f44336;
    box-shadow: 0 1px 0 0 #f44336;
}


.picker__today{

    color: #ff9800;

}

.picker__day.picker__day--today{

    color: #ff9800;

}
.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected{

    background-color: #ff9800;
}

.picker__day--selected{
    background-color: #ff9800;
}

.picker__close{
    color: #ff9800;
}

.picker__weekday-display {

    background-color: #ffb74d;

}
/* icon prefix focus color */
.input-field .prefix.active {
    color: #ff9800;
}

.picker__date-display
{
    background-color: #ff9800;
}

.picker__day--selected, .picker__day--selected:hover, .picker--    focused       .picker__day--selected
{
    background-color: #ff9800;
}